* {
  margin: 1% 0 1% 0.2%;
  box-sizing: border-box;
  font-size: 18px;
  text-decoration: none;
}
.position-center {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

article ul {
  list-style-position: inside;
}
.box {
  margin: 0px auto;
  width: 32%;
  margin-bottom: 3%;
}
.box p {
  display: inline-block;
}
button {
  background-color: #de7c7d;
  border: none;
  width: 18%;
  height: 30px;
  border-radius: 9%;
  color: white;
}
button:hover {
  background-color: white;
  color: #de7c7d;
  cursor: pointer;
}

.color-burgundy-dark {
  color: #740938;
}
.color-burgundy-normal {
  color: #af1740;
}
.color-burgundy-light {
  color: #de7c7d;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-34 {
  font-size: 34px;
}
